<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="nueva">
        <ion-icon name="library"></ion-icon>
        Nueva
      </ion-tab-button>
      <ion-tab-button tab="nueva2">
        <ion-icon name="library"></ion-icon>
        Nueva 2
      </ion-tab-button>
      <ion-tab-button tab="nueva3">
        <ion-icon name="library"></ion-icon>
        Nueva 3
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
