.vscode/
ejemplo/android/.gitignore
ejemplo/android/build.gradle
ejemplo/android/capacitor.settings.gradle
ejemplo/android/gradle.properties
ejemplo/android/gradlew
ejemplo/android/gradlew.bat
ejemplo/android/settings.gradle
ejemplo/android/variables.gradle
ejemplo/android/app/.gitignore
ejemplo/android/app/build.gradle
ejemplo/android/app/capacitor.build.gradle
ejemplo/android/app/proguard-rules.pro
ejemplo/android/app/src/androidTest/java/com/getcapacitor/myapp/ExampleInstrumentedTest.java
ejemplo/android/app/src/main/AndroidManifest.xml
ejemplo/android/app/src/main/java/io/ionic/starter/MainActivity.java
ejemplo/android/app/src/main/res/drawable/ic_launcher_background.xml
ejemplo/android/app/src/main/res/drawable/splash.png
ejemplo/android/app/src/main/res/drawable-land-hdpi/splash.png
ejemplo/android/app/src/main/res/drawable-land-mdpi/splash.png
ejemplo/android/app/src/main/res/drawable-land-xhdpi/splash.png
ejemplo/android/app/src/main/res/drawable-land-xxhdpi/splash.png
ejemplo/android/app/src/main/res/drawable-land-xxxhdpi/splash.png
ejemplo/android/app/src/main/res/drawable-port-hdpi/splash.png
ejemplo/android/app/src/main/res/drawable-port-mdpi/splash.png
ejemplo/android/app/src/main/res/drawable-port-xhdpi/splash.png
ejemplo/android/app/src/main/res/drawable-port-xxhdpi/splash.png
ejemplo/android/app/src/main/res/drawable-port-xxxhdpi/splash.png
ejemplo/android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
ejemplo/android/app/src/main/res/layout/activity_main.xml
ejemplo/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
ejemplo/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
ejemplo/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
ejemplo/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
ejemplo/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
ejemplo/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
ejemplo/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
ejemplo/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
ejemplo/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
ejemplo/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
ejemplo/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
ejemplo/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
ejemplo/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
ejemplo/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
ejemplo/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
ejemplo/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
ejemplo/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
ejemplo/android/app/src/main/res/values/ic_launcher_background.xml
ejemplo/android/app/src/main/res/values/strings.xml
ejemplo/android/app/src/main/res/values/styles.xml
ejemplo/android/app/src/main/res/xml/file_paths.xml
ejemplo/android/app/src/test/java/com/getcapacitor/myapp/ExampleUnitTest.java
ejemplo/android/gradle/wrapper/gradle-wrapper.jar
ejemplo/android/gradle/wrapper/gradle-wrapper.properties
