<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="datosUsuario">
      <strong>Hola {{nombreUsuario}}!</strong>
      <p>Tu contraseña es: {{password}}</p>
    </div>

    <div style="margin: 10px;">
      <mat-form-field>
        <mat-label>Ingrese fecha</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="fecha">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <button matButton="tonal" (click)="mostrar()">Mostrar fecha</button>
  </div>
</ion-content>
